* text=auto eol=lf

*.c      text eol=lf
*.h      text eol=lf
*.md     text eol=lf
*.yml    text eol=lf
*.txt    text eol=lf
Makefile text eol=lf
Dockerfile text eol=lf

*.gguf      binary
*.foxpack   binary
*.png       binary
*.jpg       binary
